[Unit]
Description=D-Bus System Message Bus
Before=basic.target
After=sinty-rundir.service

[Service]
Type=dbus
BusName=org.freedesktop.DBus
ExecStartPre=/bin/sh -c 'mkdir -p /run/dbus'
RuntimeDirectory=dbus
WorkingDirectory=/usr/share/dbus-1
ExecStart=/usr/bin/dbus-daemon --config-file=system.conf --nofork --nopidfile --syslog-only
Restart=on-failure

[Install]
WantedBy=sysinit.target
