[Unit]
Description=greetd login manager
After=getty@tty1.service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
ExecStartPre=-/bin/mkdir -p /run/singularity
ExecStartPre=-/bin/chmod 0777 /run/singularity
ExecStartPre=-/bin/sh -c 'mkdir -p /run/user/102 && chown greeter /run/user/102 && chmod 0700 /run/user/102'
ExecStartPre=-/bin/sh -c 'mkdir -p /tmp/.X11-unix && chmod 1777 /tmp/.X11-unix'
ExecStartPre=-/usr/bin/udevadm trigger --action=add
ExecStartPre=-/usr/bin/atomctl restart seatd.service
ExecStart=/usr/bin/greetd
Restart=always
RestartSec=1
Type=simple
IgnoreSIGPIPE=no
SendSIGHUP=yes
TimeoutStopSec=30s
KeyringMode=shared

[Install]
WantedBy=graphical.target
