[Unit]
Description=Singularity boot splash
DefaultDependencies=no
Wants=systemd-udevd.service
After=systemd-udevd.service
Before=greetd.service shutdown.target
Conflicts=shutdown.target

[Service]
Type=simple
ExecStart=/usr/bin/singularity-boot-splash
KillMode=mixed

[Install]
WantedBy=sysinit.target
