[Unit]
Description=Singularity boot splash
DefaultDependencies=no
After=systemd-udevd.service seatd.service
Wants=seatd.service

[Service]
Type=simple
ExecStart=/usr/bin/singularity-boot-splash-launch
Restart=no
StandardOutput=journal
StandardError=journal
KillMode=mixed

[Install]
WantedBy=sysinit.target
