[Unit]
Description=Thermal Daemon
After=dbus.service

[Service]
Type=simple
ExecStart=/usr/bin/thermald --no-daemon --adaptive
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
