# Architecture
BR2_x86_64=y
BR2_x86_Core2=y

# Toolchain glibc (required by systemd)
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y

# System
BR2_TARGET_GENERIC_HOSTNAME="singularity"
BR2_TARGET_GENERIC_ISSUE="Singularity OS"
BR2_ROOTFS_MERGED_USR=y
BR2_TARGET_GENERIC_ROOT_PASSWD=""

# Init - systemd
BR2_INIT_SYSTEMD=y

# systemd
BR2_PACKAGE_SYSTEMD=y
BR2_PACKAGE_DBUS=y
BR2_PACKAGE_KMOD=y
BR2_PACKAGE_KMOD_TOOLS=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_MOUNT=y
BR2_PACKAGE_SYSTEMD_NETWORKD=y
BR2_PACKAGE_SYSTEMD_RESOLVED=y
BR2_PACKAGE_SYSTEMD_LOGIND=y
BR2_PACKAGE_SYSTEMD_BOOTCTL=y

# Base utilities
BR2_PACKAGE_BUSYBOX=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_LATEST_VERSION=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_SINGULARITY_PATH)/buildroot-config/kernel.config"
BR2_LINUX_KERNEL_NEEDS_HOST_LIBELF=y

# Filesystem
BR2_TARGET_ROOTFS_TAR=y
BR2_TARGET_ROOTFS_TAR_BZIP2=y
