[Unit]
Description=Sinty Debug Bridge daemon
ConditionPathExists=/etc/atom/dev.enabled
ConditionPathExists=/var/lib/sinty-sdb/enabled
After=network.target
Wants=network.target

[Service]
Type=simple
Group=singularity-session
StateDirectory=sinty-sdb
ExecStart=/usr/bin/sdbd
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
